.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    z-index: 1;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.containerHeader.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}